<app-header></app-header>

<main class="page-content">

  <app-concept-card 
    id="manejodepragas" 
    titulo="Manejo Ecológico de Pragas e Doenças">
    <app-concept-pestmanagement></app-concept-pestmanagement>
  </app-concept-card>

  <app-concept-card 
    id="manejodosolo" 
    titulo="Manejo do Solo">
    <app-manejo-solo></app-manejo-solo>
  </app-concept-card>

  <app-concept-card 
    id="scut-saat" 
    titulo="SCUT e SAAT">
    <app-scut-saat></app-scut-saat>
  </app-concept-card>

  <app-concept-card 
    id="manejodaagua" 
    titulo="Manejo da Água">
    <app-manejo-agua></app-manejo-agua>
  </app-concept-card>

</main>

<app-footer></app-footer>