<div class="explanation">
  <h3>Perturbação em ecologia</h3>
  <p>
    Perturbação, em ecologia, refere-se a qualquer evento ou fator que altera temporariamente a estrutura, a composição ou o funcionamento de um ecossistema. Ela pode ser causada por processos naturais, como incêndios florestais, tempestades, secas e erupções vulcânicas, ou por ações antrópicas, ou seja, provocadas pelo ser humano — como o desmatamento, a aplicação de agrotóxicos, a monocultura, a urbanização e a poluição.
  </p>
  <p>
    Essas perturbações têm impactos diretos e indiretos sobre a biodiversidade e os ciclos ecológicos. Em alguns casos, elas eliminam espécies, alteram a fertilidade do solo, interrompem relações ecológicas (como a polinização) e desestabilizam a cadeia alimentar. No entanto, nem toda perturbação é negativa: em ecossistemas dinâmicos, perturbações naturais de pequena ou média escala podem até favorecer a diversidade, ao abrir espaço para novas espécies e promover ciclos de renovação.
  </p>
</div>
  <p>
  </p>
  <img ngSrc="./assets/mono_biodiverso.png" width="695" height="532" class="responsive-img" priority/>

<div class="explanation">
  <h3>Perturbação em agroecossistemas simplificados</h3>
  <p>
    Nos agroecossistemas, o conceito de perturbação é especialmente relevante. Sistemas agrícolas convencionais, com uso intensivo de insumos químicos, mecanização pesada e monoculturas, frequentemente geram perturbações intensas e constantes, com o objetivo de manter o sistem nos estágios iniciais de sucessão (que também é o estágio que possibilita a maximização da produção primária líquida), evitante assim a competição da espécies cultivada com outras espécies, pelos recursos necessário para o processo produtivo. 
  </p>
</div>