<div class="explanation">
  <h3>Invididuo e populações</h3>
  <p>
    No nível do indivíduo, temos cada ser vivo considerado isoladamente — uma planta cultivada, como um pé de feijão, um animal de criação ou mesmo uma bactéria presente no solo. Quando diversos indivíduos da mesma espécie estão reunidos em uma área comum, formam uma população. Uma lavoura composta apenas por arroz ou um conjunto de vacas em um pasto representa populações em um agroecossistema.
  </p>
</div>

<div class="explanation">
  <h3>Populações e comunidades</h3>
  <p>
    A partir do momento em que diferentes populações interagem em um mesmo espaço, temos uma comunidade. No caso dos agroecossistemas, essa comunidade é ampla e diversificada, incluindo não apenas os organismos cultivados ou domesticados, mas também aqueles que não foram introduzidos intencionalmente pelo agricultor, como insetos, ervas espontâneas, fungos, bactérias, ácaros, minhocas e outros micro-organismos do solo. Embora muitas vezes invisíveis ou pouco valorizados, esses organismos exercem funções fundamentais para a manutenção do sistema, como a decomposição da matéria orgânica, o controle biológico de pragas, a polinização e a fixação de nitrogênio.
  </p>
</div>

<div class="explanation">
  <h3>Comunidade e ecossistemas</h3>
  <p>
    A partir do momento em que diferentes populações interagem em um mesmo espaço, temos uma comunidade. No caso dos agroecossistemas, essa comunidade é ampla e diversificada, incluindo não apenas os organismos cultivados ou domesticados, mas também aqueles que não foram introduzidos intencionalmente pelo agricultor, como insetos, ervas espontâneas, fungos, bactérias, ácaros, minhocas e outros micro-organismos do solo. Embora muitas vezes invisíveis ou pouco valorizados, esses organismos exercem funções fundamentais para a manutenção do sistema, como a decomposição da matéria orgânica, o controle biológico de pragas, a polinização e a fixação de nitrogênio.
  </p>
</div>