<div class="explanation">
  <p>
    A biodiversidade, ou diversidade biológica, é o termo que usamos para descrever a variedade da vida numa determinado espaço. Ela engloba todos os seres vivos — desde os grandes animais e plantas até os micro-organismos invisíveis a olho nu — e se manifesta em diferentes níveis: genético, de espécies e de ecossistema.
  </p>
</div>

<div class="explanation">
  <p>
    No nível de espécies, falamos da diversidade entre os diferentes tipos de seres vivos. Uma floresta tropical abriga centenas ou milhares de espécies de plantas, animais, fungos, bactérias — e cada uma delas tem um papel específico no equilíbrio do ecossistema. O mesmo vale para um agroecossistema diversificado, onde a presença de insetos polinizadores, inimigos naturais de pragas, plantas espontâneas e microrganismos benéficos pode garantir uma produção mais equilibrada e sustentável.
  </p>
</div>
  <p>
  </p>
  <img
  ngSrc="assets/agroecossistemas.png"
  width="501"
  height="286"
  class="responsive-img"
  priority
/>


<div class="explanation">
  <p>
    Naturalmente, agroecossistemas baseados em monoculturas apresentam um nível reduzido de biodiversidade, já que envolvem o cultivo de uma única espécie, limitando as interações ecológicas e os serviços ambientais. À medida que se aumenta o número e a diversidade de espécies presentes no agroecossistema — incluindo plantas, animais, insetos e micro-organismos — ele se torna mais biodiverso, resiliente e funcional. Nesse sentido, o ser humano pode exercer um papel ativo na promoção da biodiversidade, manejando sistemas produtivos complexos e integrados que, em alguns casos, como nos quintais agroflorestais, podem alcançar níveis de diversidade tão altos quanto, ou até superiores aos de certos ecossistemas naturais.
  </p>
</div>