<div class="comparison-wrapper">
  <div class="comparison-table">
    <div class="comparison-header">
      <div>Critério</div>
      <div>Agroecossistemas ecológico</div>
      <div>Agroecossistemas industrial</div>
    </div>

    <div class="comparison-row">
      <div>Biodiversidade</div>
      <div>Diversificado (Policultivos, consórcios)</div>
      <div>Simplificado (monocultivos)</div>
    </div>

    <div class="comparison-row">
      <div>Manejo</div>
      <div>Manejo focado em processos</div>
      <div>Manejo dependente de insumos</div>
    </div>

    <div class="comparison-row">
      <div>Resiliência</div>
      <div>Alta capacidade de adaptação</div>
      <div>Vulnerável a pragas e mudanças climáticas</div>
    </div>

    <div class="comparison-row">
      <div>Sucessão Ecológica<sup>1</sup></div>
      <div>Gradual e direcionada aos estágios avançados</div>
      <div>Manutenção nos estágios iniciais</div>
    </div>

    <div class="comparison-row">
      <div>Produtividade primária líquida<sup>2</sup></div>
      <div>Alta nos estágios iniciais de sucessão</div>
      <div>Sempre alta, uma vez que se mantém nos estágios iniciais de sucessão</div>
    </div>

  </div>
</div>
  <div class="curiosity-box">
      <h4>Importante 🌱</h4>
      <p>
      <sup>1</sup>A <a href="#sucessao">sucessão ecológica</a>, é o processo natural de mudança e desenvolvimento de um ecossistema ao longo do tempo, que pode ser influenciado por fatores como clima, solo e atividade humana. Nos agroecossistemas ecológicos, a sucessão é direcionada para estágios avançados, promovendo a biodiversidade e a resiliência do sistema. Já nos agroecossistemas industriais, a sucessão é mantida em estágios iniciais, o que pode levar à degradação do solo e à perda de biodiversidade.
      </p>
  </div>

  <div class="curiosity-box">
    <h4>Importante 🌱</h4>
    <p>
      <sup>2</sup>A <a href="#producaoprimaria">produtividade primária líquida</a> é a quantidade de biomassa produzida por um ecossistema em um determinado período, levando em consideração a energia utilizada na respiração. Nos agroecossistemas ecológicos, a produtividade primária líquida pode ser alta nos estágios iniciais de sucessão, enquanto nos agroecossistemas industriais, a produtividade primária líquida é mantida alta por meio do uso intensivo de insumos e práticas de manejo.
    </p>
  </div>
