<div class="comparison-wrapper">
  <div class="comparison-table">
    <div class="comparison-header">
      <div>Critério</div>
      <div>Agroecossistemas ecológico</div>
      <div>Agroecossistemas industrial</div>
    </div>

    <div class="comparison-row">
      <div>Biodiversidade</div>
      <div>Diversificado (Policultivos, consórcios)</div>
      <div>Simplificado (monocultivos)</div>
    </div>

    <div class="comparison-row">
      <div>Foco do manejo</div>
      <div>Manejo baseado em processos</div>
      <div>Manejo através de insumos</div>
    </div>

    <div class="comparison-row">
      <div>Resiliência</div>
      <div>Alta capacidade de adaptação</div>
      <div>Vulnerável a pragas e mudanças climáticas</div>
    </div>

    <div class="comparison-row">
      <div>Sucessão Ecológica</div>
      <div>Gradual e direcionada aos estágios avançados</div>
      <div>Manutenção nos estágios iniciais</div>
    </div>

    <div class="comparison-row">
      <div>Produtividade primária líquida</div>
      <div>Alta nos estágios iniciais de sucessão</div>
      <div>Sempre alta, uma vez que se mantém nos estágios iniciais de sucessão</div>
    </div>

  </div>
</div>

<div class="comparison-explanation">
  <p>
    Aqui encontramos um gargalo, já que uma minoria de profissionais é capaz de analisar agroecossistemas a partir de conceitos e variáveis ecológicas. Ou, quando tentam, o fazem sobre viés político e não sob racíocinio lógico aplicados a partir de conceitos de ecologia. Enquanto isso, a maior parte do profissionais que já atuam no mercadode trabalho agroepecuário ou que estão em formação não são expostos à disciplina de ecologia com aplicação em sistemas agropecuários. 
  </p>
</div>