<div class="comparison-wrapper">
  <div class="comparison-table">
    <div class="comparison-header">
      <div>Agroecossistemas</div>
      <div>Ecossistemas naturais</div>
    </div>
    <div class="comparison-row">
      <div>Presença ativa do ser humano, como parte do sistema</div>
      <div>Não há atividade humana</div>
    </div>
    <div class="comparison-row">
      <div>Sofrem perdas significativas de biomassa e nutrientes durante a colheita</div>
      <div>Perdas mínimas de biomassa e de nutrientes</div>
    </div>
  </div>
</div>

<div class="comparison-explanation">
  <p>
    Nos agroecossistemas, o ser humano atua como componente ativo do sistema, manejando recursos internos e externos,
    além de interferir nos processos ecológicos por meio do redesenho e condução do ambiente produtivo.
  </p>
  <p>
    Esses sistemas são também caracterizados por perdas (saídas) de biomassa e nutrientes, sobretudo em decorrência das práticas de colheita. Também pode ocorrer perdas de nutrientes por lixiviação, erosão e volatilização. Essas perdas são significativas em algumas situações - por exemplo, sem sistemas sob monocultivo e solos arenosos - e podem comprometer a sustentabilidade do sistema.
  </p>
  <div class="curiosity-box">
    <h4>Importante 🌱</h4>
    <p>
      A biomassa também passa para fora do sistema por meio de processos como a decomposição da materia orgânica e a respiração celular, mas essa movimentação é considerada parte do ciclo natural de reciclagem de nutrientes e não é contabilizada como perda significativa.
    </p>
  </div>

  <p>
    Já os ecossistemas naturais operam com pouca ou nenhuma interferência humana direta, o que permite a manutenção de fluxos 
    mais equilibrados e a conservação mais eficiente dos recursos naturais.
  </p>
</div>

<div class="comparison-explanation">
  <p>
    Também é importante diferenciarmos agroecossistemas ecológicos de agroecossistemas industriais. Os agroecossistemas ecológicos priorizam processos ecológicos como fatores de regulação das variáveis ambientais e produtivas, ao passo que agroecossistemas industriais priorizam o uso de insumos e manejo cultural. Essa diferença possui um motivo especial, uma vez que <b>agroecossistemas industriais utitilizam insumos e praticas de manejo para manter os sistemas em estágios iniciais de <a href="#sucessao">sucessão</a>, o que garante a manutenção de altas produtividades, uma vez que há menor competição por recursos e maximiza-se a <a href="#producaoprimaria">produtividade primária</a> do sistema.</b>
  </p>
</div>

